﻿<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse" style="background-color:#1ab394;color:#fff;">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header" style="background-color:#1ab394;color:#fff;background-image:none;">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded-circle" src="~/Images/profile_small.jpg" />
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">PhucLV2</span>
                        <span class="text-muted text-xs block" style="color:#fff !important;">Quản Trị Viên<b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs" style="position: absolute; top: 91px; left: 0px; will-change: top, left; ">
                        <li><a class="dropdown-item" href="@Url.Action("Profile", "AppViews")">Thông Tin Cá Nhân</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("Inbox", "Mailbox")">Thông Báo</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="@Url.Action("Login", "Pages")">Đăng Xuất</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li class="@Html.IsSelected(controller: "HomeAdmin")">
                <a href="@Url.Action("Index", "HomeAdmin")"><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.dashboard">Tổng Quan</span></a>

            </li>

            <li class="@Html.IsSelected(controller: "Graphs")">
                <a href="/locationmanufacturingad"><i class="fa fa-pie-chart"></i> <span class="nav-label" data-i18n="nav.graphs">Quản Lý Địa Điểm SXKD</span></a>
            </li>
            <li class="@Html.IsSelected(controller: "Graphs")">
                <a href="@Url.Action("Index", "ProviderAdmin")"><i class="fa fa-building-o"></i> <span class="nav-label" data-i18n="nav.graphs">Quản Lý Nhà Cung Cấp</span></a>
            </li>
            <li class="@Html.IsSelected(controller: "Graphs")">
                <a href="@Url.Action("Index", "CommitmentAdmin")"><i class="fa fa-file-powerpoint-o" aria-hidden="true"></i> <span class="nav-label" data-i18n="nav.graphs">Quản Lý Bản Cam Kết</span></a>
            </li>
            <li class="@Html.IsSelected(controller: "Graphs")">
                <a href="@Url.Action("Index", "ProductAdmin")"><i class="fa fa-cubes" aria-hidden="true"></i> <span class="nav-label" data-i18n="nav.graphs">Quản Lý Sản Phẩm</span></a>
            </li>
            <li class="@Html.IsSelected(controller: "Graphs")">
                <a href="@Url.Action("Index", "AutoPublishAdmin")"><i class="fa fa-file-text-o" aria-hidden="true"></i> <span class="nav-label" data-i18n="nav.graphs">Tự Công Bố Sản Phẩm</span></a>
            </li>
            <li class="@Html.IsSelected(controller: "Graphs")">
                <a href="@Url.Action("Index", "ProviderAdmin")"><i class="fa fa-book" aria-hidden="true"></i> <span class="nav-label" data-i18n="nav.graphs">Cơ Sở Kiểm Nghiệm</span></a>
            </li>
            <li class="@Html.IsSelected(controller: "AutoPublishAdmin")">
                <a href="@Url.Action("Index", "AutoPublishAdmin")"><i class="fa fa-server" aria-hidden="true"></i> <span class="nav-label" data-i18n="nav.dashboard">Thủ Tục Hành Chính</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "AutoPublishAdmin")"><i class="fa fa-file-word-o" aria-hidden="true"></i>Đăng Kí Công Bố</a></li>
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "AutoPublishAdmin")"><i class="fa fa-file-word-o" aria-hidden="true"></i>Nội Dung Quảng Cáo</li>
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "AutoPublishAdmin")"><i class="fa fa-file-word-o" aria-hidden="true"></i>Đăng Kí Cơ Sở</a></li>
                </ul>
            </li>
            @*<li class="@Html.IsSelected(controller: "Dashboards")">
            <a href="@Url.Action("Dashboard_1", "Dashboards")"><i class="fa fa-users" aria-hidden="true"></i> <span class="nav-label" data-i18n="nav.dashboard">Thanh,Kiểm Tra ATTP</span> <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
                <li class="@Html.IsSelected(action: "Dashboard_1")"><a href="@Url.Action("Dashboard_1", "Dashboards")"><i class="fa fa-file-word-o" aria-hidden="true"></i>Kế Hoạch Thanh, Kiểm Tra</a></li>
                <li class="@Html.IsSelected(action: "Dashboard_2")"><a href="@Url.Action("Dashboard_2", "Dashboards")"><i class="fa fa-file-word-o" aria-hidden="true"></i>Kết Quả Thanh, Kiểm Tra</li>

            </ul>
        </li>*@
            <li class="@Html.IsSelected(controller: "AutoPublishAdmin")">
                <a href="@Url.Action("Index", "AutoPublishAdmin")"><i class="fa fa-users" aria-hidden="true"></i> <span class="nav-label" data-i18n="nav.dashboard">Thanh,Kiểm Tra ATTP</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "AutoPublishAdmin")"><i class="fa fa-file-word-o" aria-hidden="true"></i>Kế Hoạch Thanh, Kiểm Tra</a></li>
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "AutoPublishAdmin")"><i class="fa fa-file-word-o" aria-hidden="true"></i>Kết Quả Thanh, Kiểm Tra</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "AutoPublishAdmin")">
                <a href="@Url.Action("Index", "AutoPublishAdmin")"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <span class="nav-label" data-i18n="nav.dashboard">QL Cảnh báo VS ATTP</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "AutoPublishAdmin")"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Cảnh Báo Từ Người Dân</a></li>
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "AutoPublishAdmin")"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Tin Tức Cảnh Báo</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "AutoPublishAdmin")">
                <a href="@Url.Action("Index", "AutoPublishAdmin")"><i class="fa fa-file-archive-o" aria-hidden="true"></i><span class="nav-label" data-i18n="nav.dashboard">Công Tác ATTP</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "AutoPublishAdmin")"><i class="fa fa-file-word-o" aria-hidden="true"></i>Báo Cáo Công Tác</a></li>
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "AutoPublishAdmin")"><i class="fa fa-file-word-o" aria-hidden="true"></i>Cơ Sở Vi Phạm ATTP</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "AutoPublishAdmin")">
                <a href="@Url.Action("Index", "AutoPublishAdmin")"><i class="fa fa-calendar" aria-hidden="true"></i><span class="nav-label" data-i18n="nav.dashboard">Tháng hành động ATTP</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "AutoPublishAdmin")"><i class="fa fa-file-word-o" aria-hidden="true"></i>Báo Cáo Tháng ATTP</a></li>

                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "AutoPublishAdmin")">
                <a href="@Url.Action("Index", "AutoPublishAdmin")"><i class="fa fa-database" aria-hidden="true"></i><span class="nav-label" data-i18n="nav.dashboard">Báo Cáo Tỉnh Bắc Ninh</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "AutoPublishAdmin")"><i class="fa fa-file-word-o" aria-hidden="true"></i>Báo Cáo Mối Nguy</a></li>
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "AutoPublishAdmin")"><i class="fa fa-file-word-o" aria-hidden="true"></i>Báo Cáo Triển Khai</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "AutoPublishAdmin")">
                <a href="@Url.Action("Index", "AutoPublishAdmin")"><i class="fa fa-map-marker" aria-hidden="true"></i><span class="nav-label" data-i18n="nav.dashboard">Danh Mục Hành Chính</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "AutoPublishAdmin")"><i class="fa fa-file-word-o" aria-hidden="true"></i>Báo Cáo Huyện</a></li>
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "AutoPublishAdmin")"><i class="fa fa-file-word-o" aria-hidden="true"></i>Báo Cáo Xã</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>