﻿@{
    ViewData["Title"] = "Home Page";
}


<div class="page-content">
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-sm-4 col-7">
                    <div class="top-bar-left d-flex">
                        <div class="clearfix">
                            <ul class="socials">
                                <li> <a class="social-icon text-dark" href="javascript:void(0)"><i class="fa fa-phone"></i> 024.94366813</a> </li>
                                <li> <a class="social-icon text-dark" href="javascript:void(0)"><i class="fa fa-envelope-o"></i> demo-management-food@fsoft.com.vn</a> </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-sm-8 col-5">
                    <div class="top-bar-right">
                        <ul class="custom">
                            <li> <a href="javascript:void(0)" class="text-dark"><i class="fa fa-user mr-1"></i> <span>Đăng ký</span></a> </li>
                            <li> <a href="javascript:void(0)" class="text-dark"><i class="fa fa-sign-in mr-1"></i> <span>Đăng nhập</span></a> </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sticky-menu-bar" style="margin-bottom: 0px;">
        <div class="horizontal-main clearfix">
            <div class="container">
                <div class="logo-food">
                    <div class="logo-img">
                        <img src="~/images/logo-daihocsuphamhanoi.png" />
                    </div>
                </div>
                <div class="menu-food">
                    <div class="menu-food-nav">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="/">Trang Chủ <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript:void(0)">Tin Tức</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript:void(0)">Văn Bản</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript:void(0)">Cảnh Báo ATTP</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/homeadmin">Quản Trị Viên</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="food-content-search">
        <section>
            <div class="banner-2 cover-image sptb-2 sptb-tab bg-background2"
                 data-image-src="../images/meo-lam-sach-thuoc-tru-sau-trong-thuc-pham-nhanh-nhat.jpg"
                 style="background: url('../images/meo-lam-sach-thuoc-tru-sau-trong-thuc-pham-nhanh-nhat.jpg') center center;">
                <div class="header-text mb-0">
                    <div class="container">
                        <div class="text-center text-white ">
                            <h1 class="mb-1">Tra cứu thông tin</h1>
                            <p>Tra cứu thông tin cơ sở SXKD thực phẩm - sản phẩm thực phẩm</p>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="food-content">
        <div class="container">
            <section>
                <div class="section-title center-block text-center">
                    <h1 style="margin-top:30px;">Tình hình an toàn thực phẩm tại địa phương</h1>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card mb-0">
                            <div class="card-body">
                                <div class="border-0">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <nav>
                                                <div class="nav nav-tabs md-tabs" id="nav-tab" role="tablist">
                                                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                                                       aria-controls="nav-home" aria-selected="true"><i class="fa fa-building" aria-hidden="true"></i>&nbsp;Quyết định, văn bản thành lập </a>
                                                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                                                       aria-controls="nav-profile" aria-selected="false"><i class="fa fa-shopping-cart" aria-hidden="true"></i> &nbsp;Sản phẩm được cấp giấy tiếp nhận</a>
                                                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                                                       aria-controls="nav-contact" aria-selected="false"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>&nbsp;Tình hình thanh tra kiểm tra</a>
                                                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                                                       aria-controls="nav-contact" aria-selected="false"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;Cơ sở bị cảnh báo ATTP</a>
                                                </div>
                                            </nav>
                                            <div class="tab-content pt-5" id="nav-tabContent">
                                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                                    <div class="ibox-content inspinia-timeline">

                                                        <div class="timeline-item">
                                                            <div class="row">
                                                                <div class="col-3 date">
                                                                    <i class="fa fa-briefcase"></i>
                                                                    12/10/2019
                                                                    <br>
                                                                    <small class="text-navy">6:00 am</small>
                                                                </div>
                                                                <div class="col-7 content no-top-border">
                                                                    <p class="m-b-xs"><strong>Thành Lập Uỷ Ban</strong></p>

                                                                    <p>
                                                                        Xây dựng ủy ban an toàn thực phẩm tỉnh
                                                                    </p>

                                                                    <p><span data-diameter="40" class="updating-chart" style="display: none;">5,9,4,7,3,2,9,8,7,4,5,1,2,9,5,4,7,2,7,7,3,5,2,6,0,9,3,3,4,5,2,5,9,3,2,4,1</span><svg class="peity" height="16" width="64"><polygon fill="#1ab394" points="0 15.5 0 7.166666666666666 1.7777777777777777 0.5 3.5555555555555554 8.833333333333334 5.333333333333333 3.833333333333334 7.111111111111111 10.5 8.88888888888889 12.166666666666668 10.666666666666666 0.5 12.444444444444443 2.166666666666668 14.222222222222221 3.833333333333334 16 8.833333333333334 17.77777777777778 7.166666666666666 19.555555555555554 13.833333333333334 21.333333333333332 12.166666666666668 23.11111111111111 0.5 24.888888888888886 7.166666666666666 26.666666666666664 8.833333333333334 28.444444444444443 3.833333333333334 30.22222222222222 12.166666666666668 32 3.833333333333334 33.77777777777778 3.833333333333334 35.55555555555556 10.5 37.33333333333333 7.166666666666666 39.11111111111111 12.166666666666668 40.888888888888886 5.5 42.666666666666664 15.5 44.44444444444444 0.5 46.22222222222222 10.5 48 10.5 49.77777777777777 8.833333333333334 51.55555555555555 7.166666666666666 53.33333333333333 12.166666666666668 55.11111111111111 7.166666666666666 56.888888888888886 0.5 58.666666666666664 10.5 60.44444444444444 12.166666666666668 62.22222222222222 8.833333333333334 64 13.833333333333334 64 15.5"></polygon><polyline fill="none" points="0 7.166666666666666 1.7777777777777777 0.5 3.5555555555555554 8.833333333333334 5.333333333333333 3.833333333333334 7.111111111111111 10.5 8.88888888888889 12.166666666666668 10.666666666666666 0.5 12.444444444444443 2.166666666666668 14.222222222222221 3.833333333333334 16 8.833333333333334 17.77777777777778 7.166666666666666 19.555555555555554 13.833333333333334 21.333333333333332 12.166666666666668 23.11111111111111 0.5 24.888888888888886 7.166666666666666 26.666666666666664 8.833333333333334 28.444444444444443 3.833333333333334 30.22222222222222 12.166666666666668 32 3.833333333333334 33.77777777777778 3.833333333333334 35.55555555555556 10.5 37.33333333333333 7.166666666666666 39.11111111111111 12.166666666666668 40.888888888888886 5.5 42.666666666666664 15.5 44.44444444444444 0.5 46.22222222222222 10.5 48 10.5 49.77777777777777 8.833333333333334 51.55555555555555 7.166666666666666 53.33333333333333 12.166666666666668 55.11111111111111 7.166666666666666 56.888888888888886 0.5 58.666666666666664 10.5 60.44444444444444 12.166666666666668 62.22222222222222 8.833333333333334 64 13.833333333333334" stroke="#169c81" stroke-width="1" stroke-linecap="square"></polyline></svg></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="timeline-item">
                                                            <div class="row">
                                                                <div class="col-3 date">
                                                                    <i class="fa fa-file-text"></i>
                                                                    15/10/2019
                                                                    <br>
                                                                    <small class="text-navy">7:00 am</small>
                                                                </div>
                                                                <div class="col-7 content">
                                                                    <p class="m-b-xs"><strong>Văn Bản Quyết Định</strong></p>
                                                                    <p>Văn bản quyết định thành lập ủy ban an toàn thực phẩm của tỉnh, xây dựng các cơ sở đảm bảo an toàn chất lượng.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="timeline-item">
                                                            <div class="row">
                                                                <div class="col-3 date">
                                                                    <i class="fa fa-coffee"></i>
                                                                    25/10/2019
                                                                    <br>
                                                                </div>
                                                                <div class="col-7 content">
                                                                    <p class="m-b-xs"><strong>Triển Khai Quyết Định</strong></p>
                                                                    <p>
                                                                        Cơ sở sản xuất, sơ chế, chế biến rau, quả an toàn là cơ sở được cấp giấy chứng nhận đủ điều kiện an toàn thực phẩm trong sản xuất, sơ chế, chế biến rau, quả.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="timeline-item">
                                                            <div class="row">
                                                                <div class="col-3 date">
                                                                    <i class="fa fa-phone"></i>
                                                                    10/11/2019
                                                                    <br>
                                                                    <small class="text-navy">7:00 am</small>
                                                                </div>
                                                                <div class="col-7 content">
                                                                    <p class="m-b-xs"><strong>Xây Dựng Các Cơ Sở</strong></p>
                                                                    <p>
                                                                        Việc quá lạm dụng các hóa chất kích thích tăng trưởng đối với thực vật đang là một mối đe dọa không nhỏ đối với người tiêu dùng.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="timeline-item">
                                                            <div class="row">
                                                                <div class="col-3 date">
                                                                    <i class="fa fa-user-md"></i>
                                                                    20/11/2019
                                                                    <br>
                                                                    <small class="text-navy">7:00 am</small>
                                                                </div>
                                                                <div class="col-7 content">
                                                                    <p class="m-b-xs"><strong>Giám Sát Kiểm Tra</strong></p>
                                                                    <p>
                                                                        Tiến Hành Giám Sát Cơ Sở
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="timeline-item">
                                                            <div class="row">
                                                                <div class="col-3 date">
                                                                    <i class="fa fa-user-md"></i>
                                                                    25/11/2019
                                                                </div>
                                                                <div class="col-7 content">
                                                                    <p class="m-b-xs"><strong>Tuyên Truyền Hướng Dẫn</strong></p>
                                                                    <p>
                                                                        Tuyên truyền cho người dân về các phương pháp 
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="timeline-item">
                                                            <div class="row">
                                                                <div class="col-3 date">
                                                                    <i class="fa fa-comments"></i>
                                                                    20/12/2019
                                                                    <br>
                                                                    <small class="text-navy">48 hour ago</small>
                                                                </div>
                                                                <div class="col-7 content">
                                                                    <p class="m-b-xs"><strong>Tiến Hành Kiểm Tra Trước Khi Thu Hoạch</strong></p>
                                                                    <p>
                                                                        Hãy đảm bảo doanh nghiệp của bạn đã có một giấy chứng nhận đăng ký kinh doanh có ngành nghề sản xuất kinh doanh thực phẩm (Có thể chi tiết hơn là sơ chế biến, kinh doanh rau củ quả)
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="timeline-item">
                                                            <div class="row">
                                                                <div class="col-3 date">
                                                                    <i class="fa fa-phone"></i>
                                                                    30/12/2019
                                                                    <br>
                                                                    <small class="text-navy">7:00 am</small>
                                                                </div>
                                                                <div class="col-7 content">
                                                                    <p class="m-b-xs"><strong>Báo Cáo Nghiệm Thu Sản Phẩm</strong></p>
                                                                    <p>
                                                                        Báo Cáo Nghiệm Thu Chất Lượng Sản Phẩm
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                   

                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                                    <p>
                                                        An toàn thực phẩmhay Vệ sinh an toàn thực phẩmhiểu theo nghĩa hẹp là một môn khoa học dùng để mô tả việc xử lý, chế biến, bảo quản và lưu trữ thực phẩm bằng những phương pháp phòng ngừa, phòng chống bệnh tật do thực phẩm gây ra. Vệ sinh (làm sạch) an toàn (không nguy hại) thực phẩm cũng bao gồm một số thói quen, thao tác trong khâu chế biến cần được thực hiện để tránh các nguy cơ sức khỏe tiềm năng nghiêm trọng.

                                                        Hiểu theo nghĩa rộng, vệ sinh an toàn thực phẩm là toàn bộ những vấn đề cần xử lý liên quan đến việc đảm bảo vệ sinh đối với thực phẩm nhằm đảm bảo cho sức khỏe củangười tiêu dùng. Đây là một vấn đề và nguy cơ rất lớn mà các nước đang phát triển đã và đang phải đối mặt trong đó có Việt Nam.
                                                    </p>
                                                </div>
                                                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                                    <p>
                                                        An toàn thực phẩmhay Vệ sinh an toàn thực phẩmhiểu theo nghĩa hẹp là một môn khoa học dùng để mô tả việc xử lý, chế biến, bảo quản và lưu trữ thực phẩm bằng những phương pháp phòng ngừa, phòng chống bệnh tật do thực phẩm gây ra. Vệ sinh (làm sạch) an toàn (không nguy hại) thực phẩm cũng bao gồm một số thói quen, thao tác trong khâu chế biến cần được thực hiện để tránh các nguy cơ sức khỏe tiềm năng nghiêm trọng.

                                                        Hiểu theo nghĩa rộng, vệ sinh an toàn thực phẩm là toàn bộ những vấn đề cần xử lý liên quan đến việc đảm bảo vệ sinh đối với thực phẩm nhằm đảm bảo cho sức khỏe củangười tiêu dùng. Đây là một vấn đề và nguy cơ rất lớn mà các nước đang phát triển đã và đang phải đối mặt trong đó có Việt Nam.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>