﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">

    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Địa Điểm Sản Xuất </h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#" class="dropdown-item">Config option 1</a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-item">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div>
                    <div class="text-center">
                        <a data-toggle="modal" class="btn btn-primary" href="#modal-form" style="float:left">Create</a>
                    </div>
                    <div id="modal-form" class="modal fade" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-12 b-r">
                                            <h3 class="m-t-none m-b">Sign in</h3>

                                            <p>Sign in today for more expirience.</p>

                                            <form role="form">
                                                <div class="form-group"><label>Email</label> <input type="email" placeholder="Enter email" class="form-control"></div>
                                                <div class="form-group"><label>Password</label> <input type="password" placeholder="Password" class="form-control"></div>
                                                <div>
                                                    <button class="btn btn-sm btn-primary float-right m-t-n-xs" type="submit"><strong>Log in</strong></button>
                                                    <label> <input type="checkbox" class="i-checks"> Remember me </label>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-9 m-b-xs">
                        <div data-toggle="buttons" class="btn-group btn-group-toggle">
                            <label class="btn btn-sm btn-white"> <input type="radio" id="option1" name="options"> Ngày </label>
                            <label class="btn btn-sm btn-white active"> <input type="radio" id="option2" name="options"> Tuần </label>
                            <label class="btn btn-sm btn-white"> <input type="radio" id="option3" name="options"> Tháng </label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <input type="text" placeholder="Search" class="form-control-sm form-control"> <span class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-primary"> Tìm Kiếm!</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>

                                <th>#</th>
                                <th>Project </th>
                                <th>Name </th>
                                <th>Phone </th>
                                <th>Company </th>
                                <th>Completed </th>
                                <th>Task</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Project <small>This is example of project</small></td>
                                <td>Patrick Smith</td>
                                <td>0800 051213</td>
                                <td>Inceptos Hymenaeos Ltd</td>
                                <td><span class="pie" style="display: none;">0.52/1.561</span><svg class="peity" height="16" width="16"><path d="M 8 0 A 8 8 0 0 1 14.933563796318165 11.990700825968545 L 8 8" fill="#1ab394"></path><path d="M 14.933563796318165 11.990700825968545 A 8 8 0 1 1 7.999999999999998 0 L 8 8" fill="#d7d7d7"></path></svg></td>
                                <td>20%</td>
                                <td>Jul 14, 2013</td>
                                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Alpha project</td>
                                <td>Alice Jackson</td>
                                <td>0500 780909</td>
                                <td>Nec Euismod In Company</td>
                                <td><span class="pie" style="display: none;">6,9</span><svg class="peity" height="16" width="16"><path d="M 8 0 A 8 8 0 0 1 12.702282018339785 14.47213595499958 L 8 8" fill="#1ab394"></path><path d="M 12.702282018339785 14.47213595499958 A 8 8 0 1 1 7.999999999999998 0 L 8 8" fill="#d7d7d7"></path></svg></td>
                                <td>40%</td>
                                <td>Jul 16, 2013</td>
                                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Betha project</td>
                                <td>John Smith</td>
                                <td>0800 1111</td>
                                <td>Erat Volutpat</td>
                                <td><span class="pie" style="display: none;">3,1</span><svg class="peity" height="16" width="16"><path d="M 8 0 A 8 8 0 1 1 0 8.000000000000002 L 8 8" fill="#1ab394"></path><path d="M 0 8.000000000000002 A 8 8 0 0 1 7.999999999999998 0 L 8 8" fill="#d7d7d7"></path></svg></td>
                                <td>75%</td>
                                <td>Jul 18, 2013</td>
                                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Gamma project</td>
                                <td>Anna Jordan</td>
                                <td>(016977) 0648</td>
                                <td>Tellus Ltd</td>
                                <td><span class="pie" style="display: none;">4,9</span><svg class="peity" height="16" width="16"><path d="M 8 0 A 8 8 0 0 1 15.48012994148332 10.836839096340286 L 8 8" fill="#1ab394"></path><path d="M 15.48012994148332 10.836839096340286 A 8 8 0 1 1 7.999999999999998 0 L 8 8" fill="#d7d7d7"></path></svg></td>
                                <td>18%</td>
                                <td>Jul 22, 2013</td>
                                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Alpha project</td>
                                <td>Alice Jackson</td>
                                <td>0500 780909</td>
                                <td>Nec Euismod In Company</td>
                                <td><span class="pie" style="display: none;">6,9</span><svg class="peity" height="16" width="16"><path d="M 8 0 A 8 8 0 0 1 12.702282018339785 14.47213595499958 L 8 8" fill="#1ab394"></path><path d="M 12.702282018339785 14.47213595499958 A 8 8 0 1 1 7.999999999999998 0 L 8 8" fill="#d7d7d7"></path></svg></td>
                                <td>40%</td>
                                <td>Jul 16, 2013</td>
                                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Project <small>This is example of project</small></td>
                                <td>Patrick Smith</td>
                                <td>0800 051213</td>
                                <td>Inceptos Hymenaeos Ltd</td>
                                <td><span class="pie" style="display: none;">0.52/1.561</span><svg class="peity" height="16" width="16"><path d="M 8 0 A 8 8 0 0 1 14.933563796318165 11.990700825968545 L 8 8" fill="#1ab394"></path><path d="M 14.933563796318165 11.990700825968545 A 8 8 0 1 1 7.999999999999998 0 L 8 8" fill="#d7d7d7"></path></svg></td>
                                <td>20%</td>
                                <td>Jul 14, 2013</td>
                                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Gamma project</td>
                                <td>Anna Jordan</td>
                                <td>(016977) 0648</td>
                                <td>Tellus Ltd</td>
                                <td><span class="pie" style="display: none;">4,9</span><svg class="peity" height="16" width="16"><path d="M 8 0 A 8 8 0 0 1 15.48012994148332 10.836839096340286 L 8 8" fill="#1ab394"></path><path d="M 15.48012994148332 10.836839096340286 A 8 8 0 1 1 7.999999999999998 0 L 8 8" fill="#d7d7d7"></path></svg></td>
                                <td>18%</td>
                                <td>Jul 22, 2013</td>
                                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Project <small>This is example of project</small></td>
                                <td>Patrick Smith</td>
                                <td>0800 051213</td>
                                <td>Inceptos Hymenaeos Ltd</td>
                                <td><span class="pie" style="display: none;">0.52/1.561</span><svg class="peity" height="16" width="16"><path d="M 8 0 A 8 8 0 0 1 14.933563796318165 11.990700825968545 L 8 8" fill="#1ab394"></path><path d="M 14.933563796318165 11.990700825968545 A 8 8 0 1 1 7.999999999999998 0 L 8 8" fill="#d7d7d7"></path></svg></td>
                                <td>20%</td>
                                <td>Jul 14, 2013</td>
                                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Alpha project</td>
                                <td>Alice Jackson</td>
                                <td>0500 780909</td>
                                <td>Nec Euismod In Company</td>
                                <td><span class="pie" style="display: none;">6,9</span><svg class="peity" height="16" width="16"><path d="M 8 0 A 8 8 0 0 1 12.702282018339785 14.47213595499958 L 8 8" fill="#1ab394"></path><path d="M 12.702282018339785 14.47213595499958 A 8 8 0 1 1 7.999999999999998 0 L 8 8" fill="#d7d7d7"></path></svg></td>
                                <td>40%</td>
                                <td>Jul 16, 2013</td>
                                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Betha project</td>
                                <td>John Smith</td>
                                <td>0800 1111</td>
                                <td>Erat Volutpat</td>
                                <td><span class="pie" style="display: none;">3,1</span><svg class="peity" height="16" width="16"><path d="M 8 0 A 8 8 0 1 1 0 8.000000000000002 L 8 8" fill="#1ab394"></path><path d="M 0 8.000000000000002 A 8 8 0 0 1 7.999999999999998 0 L 8 8" fill="#d7d7d7"></path></svg></td>
                                <td>75%</td>
                                <td>Jul 18, 2013</td>
                                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Gamma project</td>
                                <td>Anna Jordan</td>
                                <td>(016977) 0648</td>
                                <td>Tellus Ltd</td>
                                <td><span class="pie" style="display: none;">4,9</span><svg class="peity" height="16" width="16"><path d="M 8 0 A 8 8 0 0 1 15.48012994148332 10.836839096340286 L 8 8" fill="#1ab394"></path><path d="M 15.48012994148332 10.836839096340286 A 8 8 0 1 1 7.999999999999998 0 L 8 8" fill="#d7d7d7"></path></svg></td>
                                <td>18%</td>
                                <td>Jul 22, 2013</td>
                                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Alpha project</td>
                                <td>Alice Jackson</td>
                                <td>0500 780909</td>
                                <td>Nec Euismod In Company</td>
                                <td><span class="pie" style="display: none;">6,9</span><svg class="peity" height="16" width="16"><path d="M 8 0 A 8 8 0 0 1 12.702282018339785 14.47213595499958 L 8 8" fill="#1ab394"></path><path d="M 12.702282018339785 14.47213595499958 A 8 8 0 1 1 7.999999999999998 0 L 8 8" fill="#d7d7d7"></path></svg></td>
                                <td>40%</td>
                                <td>Jul 16, 2013</td>
                                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Project <small>This is example of project</small></td>
                                <td>Patrick Smith</td>
                                <td>0800 051213</td>
                                <td>Inceptos Hymenaeos Ltd</td>
                                <td><span class="pie" style="display: none;">0.52/1.561</span><svg class="peity" height="16" width="16"><path d="M 8 0 A 8 8 0 0 1 14.933563796318165 11.990700825968545 L 8 8" fill="#1ab394"></path><path d="M 14.933563796318165 11.990700825968545 A 8 8 0 1 1 7.999999999999998 0 L 8 8" fill="#d7d7d7"></path></svg></td>
                                <td>20%</td>
                                <td>Jul 14, 2013</td>
                                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Gamma project</td>
                                <td>Anna Jordan</td>
                                <td>(016977) 0648</td>
                                <td>Tellus Ltd</td>
                                <td><span class="pie" style="display: none;">4,9</span><svg class="peity" height="16" width="16"><path d="M 8 0 A 8 8 0 0 1 15.48012994148332 10.836839096340286 L 8 8" fill="#1ab394"></path><path d="M 15.48012994148332 10.836839096340286 A 8 8 0 1 1 7.999999999999998 0 L 8 8" fill="#d7d7d7"></path></svg></td>
                                <td>18%</td>
                                <td>Jul 22, 2013</td>
                                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

</div>

