﻿#wrapper-page {
    margin: 0;
    padding: 0;
    background-color: #f6f7fb !important;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}

.page-content {
    background-color: transparent;
    width: 100%;
}

.top-bar {
    background: #09c48c;
}

    .top-bar .top-bar-left {
        display: flex;
    }

.top-bar-left ul {
    margin-bottom: 0;
}

.top-bar .top-bar-left .socials li {
    display: inline-block;
    float: left;
    font-size: 15px;
    margin: 9px 15px;
}

a.social-icon.text-dark {
    color: #fff !important;
}

.top-bar .top-bar-right {
    display: flex;
}

.header-main .top-bar-right .custom {
    display: flex;
    margin: 10px 0;
}

ul {
    list-style-type: none;
    padding: 0px;
}

.header-main .top-bar-right .custom li {
    margin-right: 15px;
}

.top-bar-right > ul {
    list-style-type: none;
    padding: 0px;
    display: flex;
}

.top-bar .top-bar-right {
    float: right;
}

.top-bar-right .custom {
    display: flex;
    margin: 10px 0;
}

    .top-bar-right .custom li {
        margin-right: 15px;
    }

.top-bar-right .text-dark {
    color: #fff !important;
    list-style-type: none;
}

.header-main i {
    color: #fff;
}
/*.sticky-menu-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 2px 3px 4.7px 0.3px rgba(0, 0, 0, .24);
}*/
.horizontal-main {
    width: 100%;
    position: relative;
}

.horizontal-main {
    background-color: #fff;
}

.logo-food {
    width: 30%;
    float: left;
}

.menu-food {
    width: 70%;
    float: left;
}

.logo-img > img {
    width: 100px;
    margin: 0 auto;
}

.menu-food-nav {
    float: right;
    text-align: left;
    background-color: transparent;
}

    .menu-food-nav > nav > .navbar-collapse > .navbar-nav {
        padding: 1.5em;
    }

.food-content-search, .food-content {
    width: 100%;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.bg-background2 {
    overflow: hidden;
    position: relative;
}

.sptb-2 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.cover-image {
    background-size: cover !important;
    width: 100%;
    position: relative;
}

.bg-background2:before {
    background: linear-gradient(to right, rgba(59, 162, 255, 0.9), rgba(105, 99, 255, 0.8));
}

.bg-background2:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    display: block;
    z-index: 1;
    top: 0;
}

.bg-background2 .header-text {
    position: relative;
    z-index: 10;
}

.banner-2 .header-text {
    left: 0;
    right: 0;
    color: #fff;
}

.mb-0, .my-0 {
    margin-bottom: 0 !important;
}

.text-white {
    color: #fff !important;
}

.mb-1, .my-1 {
    margin-bottom: 0.25rem !important;
}

.banner-2 .header-text p {
    margin-bottom: 0;
    font-size: 16px;
}

h1, .h1 {
    font-size: 2.5rem;
    font-weight: 400;
}

.center-block {
    margin-right: auto;
    margin-left: auto;
    float: inherit !important;
}

.center-block {
    float: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.section-title {
    padding-bottom: 2rem;
}

.text-center {
    text-align: center !important;
}

.section-title h1 {
    margin-bottom: 0.5rem;
    color: #504e70;
    font-size: 36px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    line-height: 1.1;
}

.card {
    position: relative;
    width: 100%;
    flex-direction: column;
    min-width: 0;
    border-radius: 4px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e8ebf3;
    display: flex;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 0;
    padding: 1.5rem 1.5rem;
    position: relative;
}

    .card-body > :last-child {
        margin-bottom: 0;
    }

.border-0 {
    border: 0 !important;
}

.nav-item {
    font-size: 15px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: #504e70;
    line-height: 1.1;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #337ab7;
}
.sidebar-collapse > .nav > li > a{
    color:#fff;
}
